@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: #333;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 0.75rem;
  border: 3.5px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(94, 94, 94);
}

.crossover {
  grid-column: span 2;
}

* {
  /* cursor: none !important; */
}

@layer {
  .song-card {
    @apply bg-body-main isolate z-50 relative hover:bg-g-primary text-white font-medium
         p-4 rounded-xl xs:max-w-lg sm:max-w-xl;
  }
  .text-form {
    @apply focus:outline-none outline-none bg-body-main transition-all focus:bg-card-base
     hover:bg-card-base border-b-2 border-transparent focus:border-b-white w-64;
  }

  .page-bars {
    @apply bg-black;
  }

  .mouse-follow {
    @apply w-5 h-5 aspect-square rounded-full pointer-events-none z-[10000] fixed bg-white opacity-0 transition-opacity will-change-transform;
  }

  #main:hover > .mouse-follow {
    @apply opacity-100;
  }
}
