@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 0.75rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(99, 99, 179);
}

.crossover {
  grid-column: span 2;
}

@layer {
  .song-card {
    @apply bg-body-main isolate z-50 relative hover:bg-g-primary text-white font-medium
         p-4 rounded-xl xs:max-w-lg sm:max-w-xl;
  }
  .text-form {
    @apply focus:outline-none outline-none bg-body-main transition-all focus:bg-card-base
     hover:bg-card-base border-b-2 border-transparent focus:border-b-white w-64;
  }
}
